In [171]:
import numpy as np
import pandas as pd
import matplotlib as mpl

## Introduction to pandas and series

In [172]:
liststart = np.arange(0.25,1.1,0.25)
data      = pd.Series( liststart )
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [173]:
print('values: ',data.values,'\t\t\t (type: ', type(data.values),')',
      '\nindices: ',data.index,'\t (type: ', type(data.values),')')

values:  [0.25 0.5  0.75 1.  ] 			 (type:  <class 'numpy.ndarray'> )
indices:  RangeIndex(start=0, stop=4, step=1) 	 (type:  <class 'numpy.ndarray'> )

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation

In [174]:
print(data[1],' \t\t type: ',type(data[1]))

0.5  		 type:  <class 'numpy.float64'>

In [175]:
print(data[1:3],' \t\t type: ',type(data[1:3]))

1    0.50
2    0.75
dtype: float64  		 type:  <class 'pandas.core.series.Series'>

### Series as generalized NumPy array

**The essential difference is the presence of the index**: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

In [176]:
data = pd.Series(np.arange(0.25,1.1,0.25),
                index=['a','b','c',99]
                )
data

a     0.25
b     0.50
c     0.75
99    1.00
dtype: float64

Note different access via [] between using extrinsic (b, 99) and intrinsic (slicing :3)

In [177]:
print(data['b'],'\n\n',data[:3],'\n\n',data[99])

0.5

 a    0.25
b    0.50
c    0.75
dtype: float64

 1.0

This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.

In [178]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

By default, a Series will be created where the index is drawn from the sorted keys. From here, typical dictionary-style item access can be performed:

In [179]:
population['California']

38332521

Unlike a dictionary, though, the Series also supports array-style operations such as slicing:

In [180]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series objects
We've already seen a few ways of constructing a Pandas Series from scratch; all of them are some version of the following:

In [181]:
type(data)

pandas.core.series.Series

For example, data can be a list or NumPy array, in which case index defaults to an integer sequence:

In [182]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

alternatively data could be a scalar:

In [183]:
pd.Series( 5, np.arange(100,301,100,dtype=int ) )

100    5
200    5
300    5
dtype: int64

data can be a dictionary, in which index defaults to the sorted dictionary keys:

In [184]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In each case, the index can be explicitly set if a different result is preferred
(Notice that in this case, the Series is populated only with the explicitly identified keys)

In [185]:
pd.Series( {2:'a', 1:'b', 3:'c'}, index=[3,2] )

3    c
2    a
dtype: object

## The Pandas DataFrame Object
Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by "aligned" we mean that they share the same index.

To demonstrate this, let's first construct a new Series listing the area of each of the five states discussed in the previous section:

In [186]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)


print(population,'\n\n')
print(area)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64


California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [187]:
states = pd.DataFrame( {'population': population,
                        'area': area} )
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [188]:
population_dict['Illinois'] = 12882135 # make sure it's there

value_removed     = population_dict.pop('Illinois')
population_popped = pd.Series(population_dict)

print(population_dict)
print()
print(population_popped)

{'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860}

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

**note** that if the two series don't share the same keys,
the pandas.DataFrame is created nonetheless,
as if it was a "outer join"

In [189]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

states_popped = pd.DataFrame( {'population': population_popped,
                        'area': area} )
states_popped

states_popped = pd.DataFrame( {'population': population_popped,
                        'area': area} )
states_popped

In [190]:
states_popped = pd.DataFrame( {'population': population_popped,
                        'area': area} )
states_popped

            population    area
California  38332521.0  423967
Florida     19552860.0  170312
Illinois           NaN  149995
New York    19651127.0  141297
Texas       26448193.0  695662

In [191]:
print(states.index,'\n\t\t\n',states.columns,'\n\t\t\n',states.values)

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

 Index(['population', 'area'], dtype='object')

 [[38332521   423967]
 [26448193   695662]
 [19651127   141297]
 [19552860   170312]
 [12882135   149995]]

Thus the DataFrame can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

## DataFrame as specialized dictionary¶
Similarly, we can also think of a DataFrame as a specialization of a dictionary. Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data. For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:

In [192]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [193]:
# states[0]
# error!

## Notice the potential point of confusion here: in a two-dimesnional 
NumPy array, data[0] will return the first row. For a DataFrame, data['col0'] will return the first column. Because of this, it is probably better to think about DataFrames as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

## Constructing DataFrame objects
From a single Series object

In [194]:
pd.DataFrame(population, columns=['puppa'])

               puppa
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

From a list of dicts, where keys-for-columns are repeated at each dictionary (1 dict 1 raw)

In [195]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with NaN (i.e., "not a number") values (already seen above, when creating a dataframe from justapposition of Series)

In [196]:
pd.DataFrame( [{'a': 1, 'b': 2},  {'b': 3, 'c': 4}]  )

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

As we saw before, a DataFrame can be constructed from a dictionary of Series objects as well:

In [197]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a DataFrame with any specified column and index names. If omitted, an integer index will be used for each:

In [201]:
print( np.random.rand(3,2) )
print()
print(
        pd.DataFrame(np.random.rand(3, 2),
             columns=['fo', 'br'],
             index=['a', 'b', 'c'])
         )

[[0.16022619 0.68021509]
 [0.18723961 0.63697209]
 [0.63548383 0.83624692]]

        foo       bar
a  0.222054  0.345470
b  0.923195  0.823108
c  0.820853  0.992935